## !pip install beautifulsoup4

In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.2)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in ./opt/anaconda3/lib/python3.9/site-packages (3.8.6)
Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: packaging in ./opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: python-dotenv in ./opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in ./opt/anaconda3/lib/python3.9/site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2.0.4)

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [47]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [50]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
try:
    response = requests.get(url)
    response.raise_for_status()
    soup = BeautifulSoup(response.content, "html.parser")
    
    videos = []
    table = soup.find('table',class_="wikitable sortable")
    rows = table.find_all("tr")[1:] #skip the header
    
    for row in rows:
        columns = row.find_all("td")
        if len(columns)>=5:
            rank = columns[0].get_text(strip=True)
            name = columns[1].get_text(strip=True)
            artist = columns[2].get_text(strip=True)
            views = columns[3].get_text(strip=True)
            date =columns[4].get_text(strip=True)
            
            videos.append((rank, name, artist, views, date))
except requests.RequestException as e:
    print("Error fetching the page:", e)

In [52]:
#create a DataFrame from the scrapped data
columns = ['Ranks','Names','Artists','Views','Upload Date']
df =pd.DataFrame(videos, columns=columns)

#Print the DataFrame
df

driver.quit()

,Ranks,Names,Artists,Views,Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark- children's songs,13.18,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.23,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon- nursery rhymes,6.33,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.05,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,5.98,"April 6, 2015"
6,7.,"""Wheels on the Bus""[26]",Cocomelon- nursery rhymes,5.46,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV- children's songs,5.42,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,5.00,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,4.94,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",Psy,4.86,"July 15, 2012"
11,12.,"""Masha and the Bear– Recipe for Disaster""[35]",Get Movies - children's songs,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",El Chombo,4.41,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.00,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.91,"January 14, 2015"
15,16.,"""Roar""[39]",Katy Perry,3.84,"September 5, 2013"
16,17.,"""Counting Stars""[40]",OneRepublic,3.84,"May 31, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon- nursery rhymes,3.73,"June 25, 2018"
18,19.,"""Sorry""[42]",Justin Bieber,3.69,"October 22, 2015"
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.68,"June 4, 2010"
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,3.63,"October 7, 2014"
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.63,"June 14, 2018"
22,23.,"""Dark Horse""[46]",Katy Perry,3.56,"February 20, 2014"
23,24.,"""Perfect""[47]",Ed Sheeran,3.51,"November 9, 2017"
24,25.,"""Faded""[48]",Alan Walker,3.49,"December 3, 2015"
25,26.,"""Let Her Go""[49]",Passenger,3.48,"July 25, 2012"
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018"
27,28.,"""Girls Like You""[51]",Maroon 5,3.45,"May 31, 2018"
28,29.,"""Bailando""[52]",Enrique Iglesias,3.43,"April 11, 2014"
29,30.,"""Lean On""[53]",Major Lazer,3.43,"March 22, 2015"

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [32]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException

In [33]:
driver = webdriver.Chrome()
driver.get(" https://www.bcci.tv/")  #search for bcci.tv in automated Chrome browser.

In [34]:
try:
    element = driver.find_element(By.XPATH,'//li[@class="nav-item"]')
    element.click()
except NoSuchElementException as e:
    print('error occured', e)

In [36]:
try:
    wait = WebDriverWait(driver, 10)
    button = wait.until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')))
    button.click()
except NoSuchElementException as e:
    Print('Error occured', e)

In [37]:
timeout = 10  # Timeout in seconds

while True:
    try:
        wait = WebDriverWait(driver, timeout)
        button = wait.until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')))
        button.click()
    except NoSuchElementException:
        print('Button not found. No more content to load.')
        break  # Exit the loop if button is not found
    except TimeoutException:
        print('Timeout: Button not found. No more content to load.')
        break  # Exit the loop if button is not found within the timeout

print('Finished clicking buttons.')

Timeout: Button not found. No more content to load.
Finished clicking buttons.

In [38]:
match_title = []
match = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in match:
    m=i.text
    match_title.append(m)

In [40]:
series = []
series_ = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in series_:
    s=i.text
    series.append(s)

In [41]:
len(series)

38

In [42]:
place=[]
place_ = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_:
    p=i.text.split('-')[1].strip()
    place.append(p)

In [43]:
dates = []
date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    dates.append(i.text)

In [45]:
timings = []

In [47]:
time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    timings.append(i.text)

In [49]:
len(match_title),len(series),len(place),len(dates),len(timings)

(38, 38, 38, 38, 38)

In [50]:
df= pd.DataFrame({'Matches': match_title,'Series': series, 'Place': place,'Dates': dates, 'Timings': timings})
df

driver.quit()

,Matches,Series,Place,Dates,Timings
0,INDIA TOUR OF IRELAND 2023,1st T20I -,"The Village, Dublin",18 AUG 2023,7:30 PM IST
1,INDIA TOUR OF IRELAND 2023,2nd T20I -,"The Village, Dublin",20 AUG 2023,7:30 PM IST
2,INDIA TOUR OF IRELAND 2023,3rd T20I -,"The Village, Dublin",23 AUG 2023,7:30 PM IST
3,ASIA CUP 2023,1st ODI -,"Pallekele International Cricket Stadium, Palle...",2 SEP 2023,10:00 AM IST
4,ASIA CUP 2023,2nd ODI -,"Pallekele International Cricket Stadium, Palle...",4 SEP 2023,10:00 AM IST
5,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI -,"Punjab Cricket Association IS Bindra Stadium, ...",22 SEP 2023,1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI -,"Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
7,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI -,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,1:30 PM IST
8,ICC MENS WORLD CUP 2023,1st ODI -,"MA Chidambaram Stadium, Chennai",8 OCT 2023,2:00 PM IST
9,ICC MENS WORLD CUP 2023,2nd ODI -,"Arun Jaitley Stadium, Delhi",11 OCT 2023,2:00 PM IST
10,ICC MENS WORLD CUP 2023,3rd ODI -,"Narendra Modi Stadium, Ahmedabad",14 OCT 2023,2:00 PM IST
11,ICC MENS WORLD CUP 2023,4th ODI -,"Maharashtra Cricket Association Stadium, Pune",19 OCT 2023,2:00 PM IST
12,ICC MENS WORLD CUP 2023,5th ODI -,"Himachal Pradesh Cricket Association Stadium, ...",22 OCT 2023,2:00 PM IST
13,ICC MENS WORLD CUP 2023,6th ODI -,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,29 OCT 2023,2:00 PM IST
14,ICC MENS WORLD CUP 2023,7th ODI -,"Wankhede Stadium, Mumbai",2 NOV 2023,2:00 PM IST
15,ICC MENS WORLD CUP 2023,8th ODI -,"Eden Gardens, Kolkata",5 NOV 2023,2:00 PM IST
16,ICC MENS WORLD CUP 2023,9th ODI -,"M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,2:00 PM IST
17,AUSTRALIA TOUR OF INDIA 2023-24,1st T20I -,Dr YS Rajasekhara Reddy ACA,23 NOV 2023,7:00 PM IST
18,AUSTRALIA TOUR OF INDIA 2023-24,2nd T20I -,"Greenfield International Stadium, Thiruvananth...",26 NOV 2023,7:00 PM IST
19,AUSTRALIA TOUR OF INDIA 2023-24,3rd T20I -,"Barsapara Cricket Stadium, Guwahati",28 NOV 2023,7:00 PM IST
20,AUSTRALIA TOUR OF INDIA 2023-24,4th T20I -,"Vidarbha Cricket Association Stadium, Nagpur",1 DEC 2023,7:00 PM IST
21,AUSTRALIA TOUR OF INDIA 2023-24,5th T20I -,"Rajiv Gandhi International Stadium, Hyderabad",3 DEC 2023,7:00 PM IST
22,INDIA TOUR OF SOUTH AFRICA 2023-24,1st T20I -,"Kingsmead, Durban",10 DEC 2023,9:30 PM IST
23,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd T20I -,"St George's Park, Gqeberha",12 DEC 2023,9:30 PM IST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,3rd T20I -,"The Wanderers Stadium, Johannesburg",14 DEC 2023,9:30 PM IST
25,INDIA TOUR OF SOUTH AFRICA 2023-24,1st ODI -,Johannesburg,17 DEC 2023,2:00 PM IST
26,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd ODI -,"St George's Park, Gqeberha",19 DEC 2023,2:00 PM IST
27,INDIA TOUR OF SOUTH AFRICA 2023-24,3rd ODI -,"Boland Park, Paarl",21 DEC 2023,2:00 PM IST
28,INDIA TOUR OF SOUTH AFRICA 2023-24,1st Test -,"SuperSport Park, Centurion",26 DEC 2023,1:30 PM IST
29,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd Test -,"Newlands, Cape Town",3 JAN 2024,1:30 PM IST
30,AFGHANISTAN TOUR OF INDIA 2023-24,1st T20I -,"Punjab Cricket Association IS Bindra Stadium, ...",11 JAN 2024,7:00 PM IST
31,AFGHANISTAN TOUR OF INDIA 2023-24,2nd T20I -,"Holkar Cricket Stadium, Indore",14 JAN 2024,7:00 PM IST
32,AFGHANISTAN TOUR OF INDIA 2023-24,3rd T20I -,"M Chinnaswamy Stadium, Bengaluru",17 JAN 2024,7:00 PM IST
33,ENGLAND TOUR OF INDIA 2023-24,1st Test -,"Rajiv Gandhi International Stadium, Hyderabad",25 JAN 2024,9:30 AM IST
34,ENGLAND TOUR OF INDIA 2023-24,2nd Test -,Dr YS Rajasekhara Reddy ACA,2 FEB 2024,9:30 AM IST
35,ENGLAND TOUR OF INDIA 2023-24,3rd Test -,"Saurashtra Cricket Association Stadium, Rajkot",15 FEB 2024,9:30 AM IST
36,ENGLAND TOUR OF INDIA 2023-24,4th Test -,"JSCA International Stadium Complex, Ranchi",23 FEB 2024,9:30 AM IST
37,ENGLAND TOUR OF INDIA 2023-24,5th Test -,"Himachal Pradesh Cricket Association Stadium, ...",7 MAR 2024,9:30 AM IST

Q3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [166]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException
import regex as re

In [167]:
driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/ ")

In [168]:
#Click on the economy button in the webpage
button = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
button.click()

In [169]:
#Selecting India from the dropdown
dropdown = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
dropdown.click()

In [171]:
#select the 'GDP of Indian states'
article = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
article.click()

In [172]:
GDP_table= [] #Creating an empty list to scrap the data

In [180]:
wait =WebDriverWait(driver, 10)
GDP = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table')))
data =GDP.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody')

In [181]:
for i in data:
    d=i.text

In [184]:
d

'1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074\n2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307\n3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982\n4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379\n5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077\n6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525\n7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428\n8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301\n9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828\n10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009\n11 Kerala - 781,653 4.14% 118.733 - 559,412\n12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569\n13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085\n14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651\n15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669\n16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877\n17 Assam - 315,881 1.67% 47.982 - 234,048\n18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182\n19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986\n20 Uttarakhand - 245,895 1.30% 37.351 - 193,273\n21 Jammu & Kashmir - 155,956 0.83% 23.690 - 112,755\n22 Himachal Pradesh 165,472 153,845 0.81% 23.369 124,403 117,851\n23 Goa 80,449 73,170 0.39% 11.115 63,408 57,787\n24 Tripura 55,984 49,845 0.26% 7.571 40,583 36,963\n25 Chandigarh - 42,114 0.22% 6.397 - 31,192\n26 Puducherry 38,253 34,433 0.18% 5.230 25,093 23,013\n27 Meghalaya 36,572 33,481 0.18% 5.086 26,695 24,682\n28 Sikkim 32,496 28,723 0.15% 4.363 20,017 18,722\n29 Manipur 31,790 27,870 0.15% 4.233 20,673 19,300\n30 Nagaland - 27,283 0.14% 4.144 - 17,647\n31 Arunachal Pradesh - 24,603 0.13% 3.737 - 16,676\n32 Mizoram 26,503 22,287 0.12% 3.385 18,797 16,478\n33 Andaman & Nicobar Islands - - - - - -'

In [194]:
for item in d:
    columns = re.split(r'\s+', item)
    
    # Process the columns to extract required details
    if len(item) >= 8:  # Check if there are enough columns
        rank = item[1]
        state = item[2]
        gdp_18_19 = item[3]
        gdp_19_20 = item[4]
        share_18_19 = item[5]
        gdp_billion = item[6]
        
        GDP_table.append([rank, state, gdp_18_19, gdp_19_20, share_18_19, gdp_billion])

In [214]:
columns = ['Rank', 'State', 'GSDP(18-19)', 'GSDP(19-20)', 'Share(18-19)', 'GDP($ billion)']
df = pd.DataFrame(GDP_table, columns=columns)[1:]
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ billion)
1,1,,Maharashtra,-,"2,632,792",399.921
2,2,Tamil,Nadu,"1,845,853","1,630,208",247.629
3,3,Uttar,Pradesh,"1,687,818","1,584,764",240.726
4,4,,Gujarat,-,"1,502,899",228.290
5,5,,Karnataka,"1,631,977","1,493,127",226.806
6,6,West,Bengal,"1,253,832","1,089,898",165.556
7,7,,Rajasthan,"1,020,989","942,586",143.179
8,8,Andhra,Pradesh,"972,782","862,957",131.083
9,9,,Telangana,"969,604","861,031",130.791
10,10,Madhya,Pradesh,"906,672","809,592",122.977
11,11,,Kerala,-,"781,653",118.733
12,12,,Delhi,"856,112","774,870",117.703
13,13,,Haryana,"831,610","734,163",111.519
14,14,,Bihar,"611,804","530,363",80.562
15,15,,Punjab,"574,760","526,376",79.957
16,16,,Odisha,"521,275","487,805",74.098
17,17,,Assam,-,"315,881",47.982
18,18,,Chhattisgarh,"329,180","304,063",46.187
19,19,,Jharkhand,"328,598","297,204",45.145
20,20,,Uttarakhand,-,"245,895",37.351
21,21,Jammu &,Kashmir,-,"155,956",23.690
22,22,Himachal,Pradesh,"165,472","153,845",23.369
23,23,,Goa,"80,449","73,170",11.115
24,24,,Tripura,"55,984","49,845",7.571
25,25,,Chandigarh,-,"42,114",6.397
26,26,,Puducherry,"38,253","34,433",5.230
27,27,,Meghalaya,"36,572","33,481",5.086
28,28,,Sikkim,"32,496","28,723",4.363
29,29,,Manipur,"31,790","27,870",4.233
30,30,,Nagaland,-,"27,283",4.144
31,31,Arunachal,Pradesh,-,"24,603",3.737
32,32,,Mizoram,"26,503","22,287",3.385
33,33,Andaman & Nicobar,Islands,-,-,-

Q4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [47]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException
import regex as re

In [48]:
#Going to the github.com using the automated chrome browser
driver =webdriver.Chrome()
driver.get("https://github.com/")

In [49]:
#click on the 'open source' 
button = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
button.click()

trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [52]:
titles =[]
title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title:
    t= i.text
    titles.append(t)

In [53]:
len(titles)

25

In [54]:
description = []
des = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/p')
for i in des:
    try:
        description.append(i.text)
    except NoSuchElementException:
        description.append("-")

In [55]:
len(description)

25

In [57]:
contributor = []
count = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/div[2]/a')
for i in count:
    c=i.text
    contributor.append(c)
conts = []
for i in range(1, len(contributors),2):
    number = re.sub(r'[^\d]','',contributors[i])
    conts.append(number)

In [59]:
len(conts)

25

In [60]:
languages = []
lan = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lan:
    try:
        l=i.text
        languages.append(l)
    except NoSuchElementException:
        languages.append("-")

In [61]:
len(languages)

22

In [64]:
df= pd.DataFrame({'Title': titles[0:22],'Description': description[0:22],'Contributors': conts[0:22],'Languages': languages[0:22]})
df

,Title,Description,Contributors,Languages
0,getumbrel / llama-gpt,"A self-hosted, offline, ChatGPT-like chatbot. ...",166,TypeScript
1,ill-inc / biomes-game,Biomes is an open source sandbox MMORPG built ...,130,TypeScript
2,roboflow / supervision,We write your reusable computer vision tools. 💜,202,Python
3,elidianaandrade / dio-lab-open-source,Repositório do lab Contribuindo em um Projeto ...,3432,TypeScript
4,a16z-infra / ai-town,"A MIT-licensed, deployable starter kit for bui...",275,Python
5,qiuyu96 / CoDeF,Official PyTorch implementation of CoDeF: Cont...,37,TypeScript
6,StanGirard / quivr,Your Second Brain powered by Generative AI 🧠 D...,2164,PHP
7,byoungd / English-level-up-tips,An advanced guide to learn English which might...,3401,Go
8,digininja / DVWA,Damn Vulnerable Web Application (DVWA),2819,HTML
9,kubernetes-sigs / external-dns,"Configure external DNS servers (AWS Route53, G...",2395,JavaScript
10,opentffoundation / manifesto,The OpenTF Manifesto expresses concern over Ha...,466,Python
11,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,2921,Python
12,danswer-ai / danswer,Ask Questions in natural language and get Answ...,294,Go
13,chatchat-space / Langchain-Chatchat,Langchain-Chatchat (formerly langchain-ChatGLM...,2326,C++
14,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,848,Python
15,google / googletest,GoogleTest - Google Testing and Mocking Framework,9753,Shell
16,openai / whisper,Robust Speech Recognition via Large-Scale Weak...,4943,Python
17,QiuChenlyOpenSource / InjectLib,基于Ruby编写的命令行注入版本,457,TypeScript
18,kuafuai / DevOpsGPT,Multi agent system for AI-driven software deve...,244,Python
19,yujiangshui / A-Programmers-Guide-to-English,专为程序员编写的英语学习指南 v1.2。在线版本请点 ->,1337,Python
20,steven-tey / novel,Notion-style WYSIWYG editor with AI-powered au...,602,Python
21,facebookresearch / AnimatedDrawings,"Code to accompany ""A Method for Animating Chil...",713,CSS

In [65]:
driver.quit()

Q5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [66]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException

In [67]:
driver = webdriver.Chrome()
driver.get("https:/www.billboard.com/")

In [68]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [70]:
#Click on View chart button
view_chart_button = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart_button.click()

In [ ]:
song =[class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]
artist =[class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]
last_week and weeksonchart =[class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]
peak = /html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]

In [128]:
ranks = []
rank = driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // lrv-u-background-color-black lrv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column@mobile-max lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey"]')
for i in rank:
    r=i.text
    ranks.append(r)

In [130]:
len(ranks)

100

In [137]:
songs = []
song = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li/ul/li/h3')
for i in song:
    s=i.text
    songs.append(s)

In [139]:
len(songs)

100

In [161]:
artists =[]
artist = driver.find_elements(By.XPATH,'/html/body/div/main/div/div/div/div/div/div/div/ul/li/ul/li[1]/span')
for i in artist:
    a=i.text
    artists.append(a)

In [163]:
len(artists)

100

In [99]:
last_week = []
lists = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in lists:
    lw = i.text
    last_week.append(lw)
    
lastweek=[]
for i in range(0, len(last_week),2):
    number = re.sub(r'[^\d]','',last_week[i])
    lastweek.append(number)
weeks_on_chart=[]
for i in range(1, len(last_week),2):
    number = re.sub(r'[^\d]','',last_week[i])
    weeks_on_chart.append(number)

In [103]:
len(lastweek),len(weeks_on_chart)

(100, 100)

In [119]:
peaks =[]
peak =driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in peak:
    p=i.text
    peaks.append(p)
peak_rank=[]
for i in range(1, len(peaks), 2):
    number = re.sub(r'[^\d]','',peaks[i])
    peak_rank.append(number)

In [121]:
len(peak_rank)

100

In [164]:
df= pd.DataFrame({'Rank':ranks,'Song Name':songs, 'Artist':artists, 'Last Week Rank':lastweek, 'Peak Rank':peak_rank, 'Weeks on Chart':weeks_on_chart})
df

,Rank,Song Name,Artist,Last Week Rank,Peak Rank,Weeks on Chart
0,1,Last Night,Morgan Wallen,1,1,28
1,2,Fast Car,Luke Combs,2,2,20
2,3,Cruel Summer,Taylor Swift,4,3,14
3,4,Calm Down,Rema & Selena Gomez,6,3,49
4,5,Fukumean,Gunna,7,4,8
...,...,...,...,...,...,...
95,96,Lagunas,Peso Pluma & Jasiel Nunez,,77,6
96,97,Overdrive,Post Malone,68,47,3
97,98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,99,Dawns,Zach Bryan Featuring Maggie Rogers,,42,15
99,100,Rubicon,Peso Pluma,,63,6

In [165]:
driver.quit()

Q6.Scrape the details of Highest selling novels.
compare
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [357]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException

In [358]:
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [359]:
#Creating empty list
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [360]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [361]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [362]:
driver.quit()

Q7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [203]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException

In [179]:
driver = webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [180]:
names = []
name = driver.find_elements(By.CLASS_NAME, "lister-item-header")
for i in name:
    n=i.text
    names.append(n)

In [181]:
years = []
year = driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    y=i.text
    years.append(y)

In [182]:
len(years)

100

In [183]:
genre = []
genre_ =  driver.find_elements(By.CLASS_NAME, "genre")
for i in genre_:
    g=i.text
    genre.append(g)

In [184]:
len(genre)

100

In [185]:
runtime = []
runtime_ = driver.find_elements(By.CLASS_NAME, "runtime")
for i in runtime_:
    r=i.text
    runtime.append(r)

In [158]:
len(runtime)

100

In [186]:
ratings = []
rating = driver.find_elements(By.CLASS_NAME,"ipl-rating-widget")
for i in rating:
    r=i.text.split('\n')[0] 
    ratings.append(r)

In [164]:
votes = []
vote = driver.find_elements(By.NAME, "nv")
for i in vote:
    v=i.text
    votes.append(v)

In [189]:
df= pd.DataFrame({'Titles':names, 'Year span': years, 'Genre':genre, 'Run time':runtime, 'Ratings':ratings, 'Votes':votes})
df

,Titles,Year span,Genre,Run time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,193,010"
1,2. Stranger Things (2016–2024),(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,779"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,933"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,951"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,023"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"52,423"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,451"
97,98. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,093"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,681"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"263,647"

In [190]:
driver.quit()

Q8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [319]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException,ElementNotInteractableException

In [320]:
driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [321]:
datasets = driver.find_element(By.XPATH,'//a[@href="/datasets"]')
datasets.click()

In [324]:
wait = WebDriverWait(driver, 10)
rowsperpage = wait.until(EC.presence_of_element_located((By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select')))
rowsperpage.click()

dropdown = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]")
dropdown.click()

In [353]:
titles = []
data_type= []
task = []
attribute_type= []
no_of_instances=[]
no_of_attributes= []
year =[]

title = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in title:
    t=i.text
    titles.append(t)

In [327]:
try:
    data = driver.find_elements(By.XPATH,'//p[@class="truncate"]')
    for i in data:
        d=i.text
        data_type.append(d)
except NoSuchElementException:
    data_type.append("-")

In [328]:
len(data_type)

25

In [329]:
task = []
try:
    tasks = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div/div/div/div[2]/div/div[1]/span')
    for i in tasks:
        task.append(i.text)
except NoSuchElementException:
    task.append("-")

In [330]:
len(task)

25

In [331]:
try:
    attribute = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div/div/div/div[2]/div/div[2]/span')
    for i in attribute:
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append("-")

In [332]:
len(attribute_type)

25

In [333]:

try:
    instance =driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div/div[2]/div/div/div[2]/div/div[3]/span')
    for i in instance:
        no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("-")

In [334]:
len(no_of_instances)

25

In [335]:

try:
    attributes = driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div/div[2]/div/div/div[2]/div/div[4]/span")
    for i in attributes:
        no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("-")

In [336]:
len(no_of_attributes)

25

In [343]:

try:
    years= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
    for i in years:
        year.append(i.text)
except NoSuchElementException:
    year.append("-")

In [344]:
len(year)

25

In [355]:
df= pd.DataFrame({'Titles': titles,'Data_Type':data_type,'Tasks':task,'Attribute_Type':attribute_type,'No_of_instances':no_of_instances,'No_of_attributes':no_of_attributes,'Years':year})
df

,Titles,Data_Type,Tasks,Attribute_Type,No_of_instances,No_of_attributes,Years
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification,Multivariate,150 Instances,4 Attributes,7/1/1988
1,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,Multivariate,303 Instances,13 Attributes,7/1/1988
2,Adult,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,14 Attributes,5/1/1996
3,Dry Bean Dataset,"Images of 13,611 grains of 7 different registe...",Classification,Multivariate,13.61K Instances,16 Attributes,9/14/2020
4,Diabetes,This diabetes dataset is from AIM '94,,,,20 Attributes,N/A
5,Wine,Using chemical analysis determine the origin o...,Classification,Multivariate,178 Instances,13 Attributes,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Classification,Multivariate,569 Instances,30 Attributes,11/1/1995
7,Car Evaluation,Derived from simple hierarchical decision mode...,Classification,Multivariate,1.73K Instances,6 Attributes,6/1/1997
8,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Classification,Multivariate,3.81K Instances,8 Attributes,10/6/2019
9,Mushroom,From Audobon Society Field Guide; mushrooms de...,Classification,Multivariate,8.12K Instances,22 Attributes,4/27/1987
10,Abalone,Predict the age of abalone from physical measu...,Classification,Multivariate,4.18K Instances,8 Attributes,12/1/1995
11,Breast Cancer,Breast Cancer Data (Restricted Access),Classification,Multivariate,286 Instances,9 Attributes,7/11/1988
12,Statlog (German Credit Data),This dataset classifies people described by a ...,Classification,Multivariate,1K Instances,20 Attributes,11/17/1994
13,Wine Quality,"Two datasets are included, related to red and ...","Classification, Regression",Multivariate,4.9K Instances,12 Attributes,10/7/2009
14,Glass Identification,From USA Forensic Science Service; 6 types of ...,Classification,Multivariate,214 Instances,9 Attributes,9/1/1987
15,Census Income,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,14 Attributes,5/1/1996
16,Breast Cancer Wisconsin (Original),Original Wisconsin Breast Cancer Database,Classification,Multivariate,699 Instances,9 Attributes,7/15/1992
17,Automobile,From 1985 Ward's Automotive Yearbook,Regression,Multivariate,205 Instances,25 Attributes,5/19/1987
18,Auto MPG,"Revised from CMU StatLib library, data concern...",Regression,Multivariate,398 Instances,7 Attributes,7/7/1993
19,Bank Marketing,The data is related with direct marketing camp...,Classification,Multivariate,45.21K Instances,17 Attributes,2/14/2012
20,Thyroid Disease,10 separate databases from Garavan Institute,Classification,"Multivariate, Domain-Theory",7.2K Instances,5 Attributes,1/1/1987
21,Spambase,Classifying Email as Spam or Non-Spam,Classification,Multivariate,4.6K Instances,57 Attributes,7/1/1999
22,Predict students' dropout and academic success,A dataset created from a higher education inst...,Classification,Tabular,4.42K Instances,36 Attributes,12/13/2021
23,Optical Recognition of Handwritten Digits,Two versions of this database available; see f...,Classification,Multivariate,5.62K Instances,64 Attributes,7/1/1998
24,Credit Approval,This data concerns credit card applications; g...,Classification,Multivariate,690 Instances,15 Attributes,N/A

In [356]:
driver.quit()